.Footer {
  background-color: var(--primary-color);
  padding: 20px 100px;
  text-align: center;
  .FooterAction {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Links {
      display: flex;
      align-items: center;
      gap: 30px;
      a {
        color: white;
      }
      a:hover {
        transition: all 0.2s;
        color: var(--secondary-color);
      }
    }

    .IconLinks {
      display: flex;
      align-items: center;
      gap: 50px;

      a {
        display: flex;
        padding: 10px;
        border-radius: 50%;
        background-color: white;
        color: var(--secondary-color);
      }
      a:hover {
        transition: all 0.2s;
        background-color: var(--secondary-color);
        color: white;
      }
    }
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    hr {
      width: 90%;
      margin: 0;
      height: 1px;
    }
  }

  p {
    color: white;
    font-size: 16px;
    font-weight: 900;
    span {
      color: var(--secondary-color);
    }
  }
}
