/* Add LamaSans font */
@font-face {
  font-family: "LamaSans";
  src: url("/fonts/LamaSans-Regular.otf");
}

* {
  font-family: "LamaSans", sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

body {
  padding: 0px;
  margin: 0px;
}
.App {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}
