header {
  background-color: var(--primary-color);
  padding: 40px 100px;

  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 70px;
    border-radius: 50px 0px;
    img {
      width: 250px;
    }
    .NavIcon {
      display: none;
    }
    div {
      display: flex;
      gap: 60px;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 60px;
      font-weight: 600;

      li {
        cursor: pointer;
        * {
          color: black;
        }
      }

      li {
        *:hover {
          color: var(--secondary-color);
        }
      }
    }

    .SignInBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--secondary-color);
      border: none;
      color: white;
      padding: 10px 30px;
      border-radius: 20px 0px;
      font-size: 16px;
    }
  }
}
