@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 601px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 992px) and (max-width: 1439px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1440px) {
      @content;
    }
  }
}
