@media (max-width: 600px) {
  .NotificationsContainer {
    width: 80%;
    padding: 20px;
  }
  .NotificationsContainer > div {
    margin-bottom: 10px;
  }
  .NotificationsContainer > div > h3 {
    font-size: 16px;
  }
  .Notification {
    flex-direction: column;
    align-items: start;
  }
  .NotificationsPhoto {
    width: 40px;
    height: 40px;
    padding: 9px;
  }
  .NotificationsPhoto > svg {
    width: 22px;
    height: 22px;
  }
  .NotificationTitle {
    font-size: 14px;
  }
  .NotificationInfo {
    font-size: 12px;
  }
  .NotificationMessage {
    font-size: 13px;
  }
}
