@import "tailwindcss";
@theme {
  --color-softColor: #555770;
  --color-secondaryColor: #f47621;
  --color-softwhite: #f1f1f5;
}

.backgorund {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -10;
  overflow: hidden;
}
.ballBackgorund {
  position: absolute;
  background: linear-gradient(
    150deg,
    rgba(84, 139, 187, 1) -10%,
    rgba(25, 72, 148, 1) 50%
  );
}
.large {
  width: 55vw;
  height: 100vh;
  border-radius: 0px 0px 1000px 0px;
  top: 0;
  left: 0;
}
.meduim {
  border-radius: 0px 1000px 0px 0px;
  width: 20vw;
  height: 20vw;
  bottom: 0;
  left: 0;
}
.small-one {
  border-radius: 1000px;
  width: 20vw;
  height: 20vw;
  top: 50%;
  left: 30%;
}
.small-two {
  border-radius: 1000px 0px 0px 0px;
  width: 13vw;
  height: 13vw;
  bottom: 0;
  right: 0;
}

/* Add LamaSans font */
@font-face {
  font-family: "LamaSans";
  src: url("./assets/fonts/LamaSans-Regular.otf");
}
@font-face {
  font-family: "LamaSans-Light";
  src: url("./assets/fonts/LamaSans-Light.otf");
}

* {
  font-family: "LamaSans", sans-serif;
}
button {
  cursor: pointer;
}
/* side bar small */
.small-side {
  background-color: #194894;
}
/* Storing colors in variables */
:root {
  --secondary-color: #f47621;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input field components */
.input-control {
  width: 100%;
  height: 50px;
  border: 1.5px solid;
  padding: 7px 15px;
  border-radius: 10px;
  border-color: rgba(145, 158, 171, 0.5);
  font-weight: 100;
}
.label-email {
  color: var(--secondary-color);
  transition: 0.5s;
  color: #919eab;
}
.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
  top: 0;
  font-size: 14px;
  color: var(--secondary-color);
}

/* Change Fox's primary color and add another */
input:focus {
  outline: none;
  border-color: var(--secondary-color);
}
.button-login {
  padding: 10px;
  margin-top: 46px;
  margin-bottom: 3px;
  cursor: pointer;
}

/* notification animation */
.slide-in {
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.click {
  cursor: pointer;
}

.box-shadow {
}
