@media (max-width: 1280px) {
  .DetailsList {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 20px;
    gap: 20px;
  }
  .ListIndex {
    grid-column: span 7;
  }
  .ListInfo {
    grid-column: span 7;
  }
  .ListStatus {
    grid-column: span 2;
    text-align: center;
  }
  .InvoicesHeader {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .InvoicesMain {
    align-items: end;
  }
  .DetailsList {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .invoicesDownload {
    padding: 30px;
  }
  .InvoicesHeaderActions {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .InvoicesSort {
    width: 100%;
    justify-content: center;
  }
  .InvoicesSearch {
    width: 100%;
  }
  .InvoicesSearch > .SearchInput {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .Invoices {
    padding: 10px 20px;
  }
}
