/* Chrome, Edge, Safari */
input[type="number"].input_children::-webkit-inner-spin-button,
input[type="number"].input_children::-webkit-outer-spin-button {
  appearance: auto;
  opacity: 1;
  margin: 0;
}
