.Features {
  text-align: center;
  padding: 50px 100px;

  h2 {
    font-weight: 900;
    font-size: 40px;
    color: var(--primary-color);
  }
  .imgLearn{
    width: 50vw;
    border-radius: 10px;
  }
  .FeaturesList {
    display: flex;
    justify-content: center;

    gap: 200px;
    .Feature {
      text-align: start;
      width: 500px;
      margin-top: 100px;

      div {
        display: flex;
        align-items: start;
        gap: 10px;
        font-size: 28px;
        font-weight: 900;

        h4 {
          margin: 0;
          color: var(--primary-color);
        }
        span {
          color: var(--secondary-color);
        }
      }
      p {
        font-size: 22px;
        font-weight: 900;
      }
      .list-item {
        font-size: 20px;
        color: var(--font-color);
        font-weight: 100;
        margin: 20px 0px;
        p {
          font-weight: 100;
          margin: 0px;
        }
      }
    }
  }
}
