.Hero {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;

  h1 {
    font-size: 52px;
    color: var(--primary-color);
    span {
      color: var(--secondary-color);
    }
  }

  h2 {
    color: var(--font-color);
    font-weight: 100;
    margin: 100px 0px;
    width: 90%;
  }

  .HeroActions {
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      gap: 10px;
      border: none;
      color: white;
      padding: 10px 30px;
      border-radius: 20px 0px;
      font-size: 20px;
      margin-right: 20px;
    }

    .DownloadBtn {
      position: relative;
      background-color: var(--secondary-color);
      p {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        border-radius: 50px;
        position: absolute;
        background-color: rgb(255, 43, 43);
        top: -18px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        right: -10px;
        padding: 1px 0px;
      }
    }
    .LearnMoreBtn {
      background-color: var(--primary-color);
    }
  }
  img {
    width: 600px;
  }
}
