// * {
//   margin: 0;
// }
.Hero {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;

  h1 {
    font-size: 52px;
    color: var(--primary-color);
    span {
      color: var(--secondary-color);
    }
  }

  h2 {
    color: var(--font-color);
    font-weight: 100;
    margin: 100px 0px;
    width: 90%;
  }

  .HeroActions {
    display: flex;

    flex-direction: column;

    h2 {
      margin: 0;
      margin-bottom: 10px;
      margin-bottom: 10px;
      font-weight: bolder;
      span {
        color: var(--secondary-color);
      }
    }
    .HeroActions-download {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }
    .apple-download {
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      gap: 10px;
      border: none;
      color: white;
      padding: 13px 10px;
      border-radius: 8px;
      font-size: 20px;
      margin-right: 20px;
      position: relative;
    }
    .soonApple{
      position: absolute;
      bottom: -50px;
      color: black;
      font-weight: 800;
    }
    .GooglePlay-download {
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      gap: 10px;
      border: none;
      color: white;
      padding: 13px 10px;
      border-radius: 8px;
      font-size: 20px;
      margin-right: 20px;
    }
    .textAppleSpan {
      margin: 0;
      margin-bottom: 4px;
      font-size: 13px;
    }
    .textAppleP {
      margin: 0;
      font-size: 17px;
    }
    .textGooglePlaySpan {
      margin: 0;
      margin-bottom: 4px;
      font-size: 13px;
    }
    .textGooglePlayP {
      margin: 0;
      font-size: 17px;
    }
    .iconApple {
      font-size: 50px;
    }
    .iconGooglePlay {
      width: 45px;
    }
    button {
      display: flex;
      align-items: center;
      gap: 10px;
      border: none;
      color: white;
      padding: 10px 30px;
      border-radius: 20px 0px;
      font-size: 20px;
      margin-right: 20px;
    }

    .DownloadBtn {
      position: relative;
      background-color: var(--secondary-color);
      p {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        border-radius: 50px;
        position: absolute;
        background-color: rgb(255, 43, 43);
        top: -18px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        right: -10px;
        padding: 1px 0px;
      }
    }
    .LearnMoreBtn {
      background-color: var(--primary-color);
    }
  }
  img {
    width: 600px;
  }
}
