.HowItWork {
  text-align: center;
  padding: 50px 100px;

  h2 {
    font-weight: 900;
    font-size: 40px;
    color: var(--primary-color);
  }
  .HowItWorkList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    .HowItWorkListItem {
      width: 540px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      span {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        display: flex;
        color: white;
        padding: 20px;
      }

      h4 {
        font-size: 32px;
        margin: 0;
        font-weight: 900;
      }
      p {
        width: 70%;
        color: var(--font-color);
        font-size: 26px;
        margin: 0;
      }
    }
  }
}
