.NachstenSchritt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
  .Schritt {
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-weight: 900;
      color: var(--primary-color);
      margin: 0;
      margin-top: 10px;
      width: 100%;
      font-size: 32px;
    }

    p {
      font-weight: 100;
      width: 80%;
      font-size: 20px;
      color: var(--font-color);

      a {
       
        color: var(--secondary-color);
      }
    }
    img {
      width: 450px;
    }
  }
}
