.Registrieren {
  text-align: center;
  padding: 50px 100px;

  h2 {
    font-weight: 900;
    font-size: 40px;
    color: var(--primary-color);
  }
  div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

    p {
      font-weight: 900;
      width: 55%;
      text-align: start;
      line-height: 60px;
      font-size: 30px;
      color: var(--font-color);
    }
  }
}
