.SmallNavbar {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: white;
  padding: 30px;
  z-index: 1000;

  .SignInBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 20px 0px;
    font-size: 16px;
  }
  .navItem {
    ul {
      text-align: center;
      font-size: 20px;

      padding-inline-start: 0px;
      li {
        margin: 20px 0px;
        cursor: pointer;
      }

      li:hover {
        color: var(--secondary-color);
      }
    }
    button {
      width: 100%;
      background-color: var(--secondary-color);
      border: none;
      color: white;
      padding: 10px 30px;
      border-radius: 20px 0px;
      font-size: 16px;
    }
  }
}
