@media (max-width: 1280px) {
  /* complate personal info */
  .Complate_personal_info {
    padding: 20px;
  }
  .personal_info_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* residence info  */
  .Residence_info {
    padding: 20px;
  }
  .Residence_info_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .ID_Upload {
    flex-direction: column;
  }
  /* Banking info */
  .Banking_info {
    padding: 20px;
  }
  .Banking_info_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Social Security and Health Insurance */
  .Social_Insurance {
    padding: 20px;
  }
  .Social_Insurance_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Employment data */
  .Employment_data {
    padding: 20px;
  }
  .Questions {
    padding: 0;
  }

  /* Signature */
  .Signature {
    padding: 20px;
  }

  /* Documents */
  .Documents {
    padding: 10px 20px;
  }
  .DocumentsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .DocumentInfo {
    grid-column: span 2;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .documentDescription {
    width: 100%;
  }
  .documentsBtn {
    width: 100%;
    grid-column: span 2;
  }
  .UploadBtn {
    width: 100%;
  }
}
@media (max-width: 600px) {
  /* Personal info page */

  .Personal_info_page {
    padding: 0px 20px 20px 20px;
  }
  .Personal_info_Item {
    flex-direction: column;
    gap: 20px;
  }
  .Personal_info_Item > button {
    font-size: 16px;
  }
  .declinedStatus {
    flex-direction: column-reverse;
    align-items: start;
    gap: 14px;
  }
  .declinedStatus > button {
    width: 100%;
  }
  .SuccsessPopup {
    width: 90%;
    text-align: center;
  }

  /* complate personal info */
  .GenderSelector {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* Documents */

  .Documents {
    padding: 0px 20px 20px 20px;
    position: relative;
  }
  .DocumentsForm {
    width: 90%;
    height: 60%;
  }
  .FileName {
    grid-column: span 2;
  }
}
